# dependencies
node_modules
.pnp
.pnp.*
.yarn

# next.js
.next/
out/

# build
build/
dist/

# testing
coverage/

# env
.env.development.local
.env.test.local
.env.production.local
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# vercel
.vercel

# misc
.DS_Store
Thumbs.db
*.pem

# IDE
.vscode/
.idea/
.fleet/

# typescript
*.tsbuildinfo

# monorepo support
**/node_modules
**/.next

btuh/vendor
btuh/public/storage
btuh/public/review-documents
btuh/public/projects